.aboutcontainer {
    padding-inline: 160px;
    @media screen and (width <= 768px) {
        padding-inline: 5px;
}
}

.bannercontainer {
    padding: 0px 50px 0 50px;
    @media screen and (width <= 768px) {
        padding-inline: 0;
}
}