.Navbar {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #ff6060;
    font-weight: 700;
    font-size: 24px;
    gap: 2rem;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
        font-weight: 500;
        gap: 1rem;
        font-size: 12px;
}
}

.Navbar a {
    text-decoration: none;
    color: #ff6060;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar a.active {
    text-decoration: underline;
}

.navbar__logo {
    margin-right: auto;
}
