@use "../../scss/variables.scss" as *;
/*
.banner {
    position: relative;
    background-image: url("../../assets/bannerimage.png");
    min-height: 140px;
    width: 100%;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: $color-secondary;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.banner::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;

} */

.banner{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image:url('../../assets/bannerimage.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;
    @media screen and (max-width: 768px){
        margin: 20px auto;
        height: 120px;
    }
    &_about{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: 223px;
        max-width: 95%;
        margin: 43px auto;
        background-image: url('../../assets/bannerabout.png');
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 768px){
            margin: 20px auto;
            height: 120px;
        }
    }
    p{
        color: $color-secondary;
        font-size: clamp(20px, 4vw, 48px);
        font-weight: 500;
    }
}